GOOGLE_API_KEY=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_API_KEY=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_MESSAGES_COLL_ID=
VITE_APPWRITE_CONVERSATIONS_COLL_ID=
VITE_APPWRITE_USER_LIMITS_COLL_ID=
VITE_APPWRITE_DOCUMENTS_COLL_ID=
VITE_APPWRITE_CHUNKS_COLL_ID=
VITE_APPWRITE_INGESTION_JOBS_COLL_ID=
VITE_APPWRITE_ENDPOINT=
FRONTEND_URL=
CHROMA_PATH=
MAX_FILE_BYTES=
MAX_CHUNKS_PER_DOC=
DOCS_KEEP_PER_USER=
DOCS_MAX_AGE_DAYS=
CHUNK_CAP_PER_USER=
ADMIN_TOKEN=